♻ РАСПИСАНИЕ/ЖЕРЕБЬЁВКА всех турниров этой недели
💢 КОРТЫ "АКВА-МИНСК", пр-т Рокоссовского 44/2

🔥 CHALLENGER-33 (турнир для игроков среднего уровня)

1/16 ФИНАЛА

Стрельцов (1) - Х
пятница 21.00 корт 1 Борисевич В. - Павлов

суббота 16.00 корт 8 Тивунов (5) - Дегтеренок
четверг 20.30 корт 2 Кривко - Бохан

пятница 22.00 корт 3 Кириенко (8) - Пашкевич А.
четверг 22.00 корт 6 Лойко - Усманов

суббота 19.30 корт 9 Каптёнок - Нгуен Нгок
суббота 15.00 корт 8 Ромахов (4) - Пастернак

======

Прозоров (3) - Х
суббота 19.00 корт 4 Назаренко - Константинов

четверг 22.00 корт 2 Гурский (6) - Василевский Е.
пятница 22.00 корт 10 Турчин - Юркевич Н

пятница 22.00 корт 1 Затолгутский (7) - Семашко
Ализаде - Гуринович А.

пятница 22.00 корт 2 Миденко - Павловский
Карлашов (2) - Х


🔥 FUTURES-39 (турнир для игроков базового уровня)

1/16 ФИНАЛА

суббота 20.30 корт 4 Кравчёнок (1) - Q11
суббота 17.00 корт 6 Шайдаров - Q1

суббота 21.00 корт 9 Симогостицкий (6) - Q2
суббота 18.30 корт 10 Колесник - Q5

суббота 20.30 корт 2 Радюк (5) - Q8
суббота 17.00 корт 10 Рудько - Q10

суббота 20.30 корт 1 Юркевич Н. - Павлов
пятница 22.00 корт 11 Бохан (4) - Q3

======

суббота 16.00 корт 10 Бобрович (3) - Q9
суббота 08.30 корт 9 Примов - Зументс

пятница 22.00 корт 4 Штабной (8) - Сасимович
суббота 19.30 корт 8 Шалимо - Бобко З.

суббота 17.30 корт 7 Лазучёнок (7) - Q6
пятница 21.00 корт 12 Красовский - Михалюкович

суббота 20.30 корт 3 Жуковский А. - Q7
суббота 20.00 корт 10 Царун* - Q4

КВАЛИФИКАЦИЯ:

Q1: четверг 22.00 Загрийчук - Литвинчик
Q2: четверг 21.30 корт 13 Лазурович - Терещук
Q3: четверг 22.00 корт 12 Литвин - Крайко
Q4: четверг 21.00 корт 8 Антилевский - Козловский В.
Q5: четверг 22.00 корт 3 Врублевский* - Жинко
Q6: суббота 16.30 корт 7 Волков - Лисок
Q7: четверг 21.00 корт 9 Ивашко А. - Рыбаков И.
Q8: пятница 21.00 корт 2 Ахметгалимов - Ильина
Q9: четверг 22.00 корт 7 Ярмолович - Ходасевич
Q10: пятница 22.00 корт 7 Кирильчик - Ванда
Q11: четверг 20.00 корт 12 Сущиц - Турик

👫 ИТОГОВЫЙ DOUBLES CHALLENGER

1/8 ФИНАЛА (суббота 19 декабря)

18.30 корт 3 Бусел/Желинский* (1) - Сушко/Пашков
20.00 корт 6 Василевсикий Е./Машницкий - Центнер/Ализаде
16.00 корт 4 Иванов С./Жуковский Э. - Орлов/Белов
15.30 корт 6 Карлашов/Прозоров (3) - Силин/Жишкевич

19.00 корт 2 Латыш/Марьянович (4) - Парфенов/Агриамати
20.30 корт 7 Гурский/Гуринович - Груднов/Мозжухин
17.30 корт 4 Шульгинова/Кривальцевич - Ивлеев/Липко
14.30 корт 4 Шейко/Шейко (2) - Казанский А./Врублевский

👫 ИТОГОВЫЙ DOUBLES FUTURES

1/8 ФИНАЛА (суббота 19 декабря)

17.00 корт 3 Бусел/Ковалевич (1) - Константинов/Гуринович
19.00 корт 1 Липко/Полуянович - Босак/Рудовская
18.30 корт 6 Масловский Д./Чистая - Антонова/Соболевский А.
18.00 корт 8 Гурский/Семашко* (4) - Бобко/Жинко

17.30 корт 2 Марьянович/Сахаревич (3) - Ковальчук/Подрез
17.00 корт 9 Сушко/Пашков - Красовский/Лыч
18.00 корт 9 Василевский Е./Хисамутдинова - Каптенок/Рабушко
16.00 корт 3 Кириенко/Лукьяненко (2) - Богданкевич/Демидович

🔥 SATELLITE-30 (турнир для новичков)

1/8 ФИНАЛА (суббота 19 декабря)

Зуев (1) - Х
16.30 корт 2 Радькова - Усович Е.
17.30 корт 1 Журавок - Кузьменко
Скуратович - Х

Науменко Е. - Х
16.30 корт 1 Паризе - Коломиец
19.00 корт 7 Артамонова А. - Лыч
Хисамутдинова (2) - Х